<p id="notice"><%= notice %></p>

<p>
  <strong>Employer:</strong>
  <%= @model.employer %>
</p>

<p>
  <strong>First name:</strong>
  <%= @model.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @model.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @model.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @model.location %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @model.bio %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @model.company_name %>
</p>

<p>
  <strong>Industy:</strong>
  <%= @model.industy %>
</p>

<p>
  <strong>Company website:</strong>
  <%= @model.company_website %>
</p>

<p>
  <strong>City:</strong>
  <%= @model.city %>
</p>

<p>
  <strong>Social media links:</strong>
  <%= @model.social_media_links %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
